{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Connexion{% endblock %}

{% block fos_user_content %}

    <form action="{{ path("fos_user_security_check") }}" method="post">

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        {% if error %}
            <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="form-group">
            <label for="username">Email</label>
            <input type="email" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
        </div>

        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" class="form-control" />
        </div>

        <div class="custom-control custom-checkbox mb-20">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="custom-control-input" checked />
            <label for="remember_me" class="custom-control-label look-disabled small">{{ 'security.login.remember_me'|trans }}</label>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-circle">Valider</button>
        </div>

        <div class="mt-10 text-center">
            <a href="{{ path('fos_user_resetting_request') }}" class="small">Mot de passe oublié ?</a>
        </div>

    </form>

{% endblock fos_user_content %}
