{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block navbar_title %}
    {{ block('title') }}

<script>
$(function() {
    var input = document.querySelector(".titleToMeasure");
    var resultWrapper = document.getElementById("titleWidth");
    function updateTitleWidth() {
        resultWrapper.style = 'font-size:20px;margin:0;padding:0;border:0;font-weight:400;display:inline-block;font-family:arial,sans-serif;line-height: 1.3;';
        resultWrapper.innerHTML = input.value;
        var titleWidth = resultWrapper.offsetWidth;
        resultWrapper.innerHTML = titleWidth + "px";
        resultWrapper.style = titleWidth > 560 ? 'color:#B0413E' : 'color:#4F805D';
    }
    updateTitleWidth();
    input.addEventListener('input', updateTitleWidth);
});
</script>
<script>
$(function() {
    $('.expandColumnFields').click(function() {
        $(".columnFields").removeClass("col-md-3").addClass("col-md-6");
        $(".mainFields").removeClass("col-md-9").addClass("col-md-6");
    });
    $('.mainFields').click(function() {
        $(".columnFields").removeClass("col-md-6").addClass("col-md-3");
        $(".mainFields").removeClass("col-md-6").addClass("col-md-9");
    });
});
</script>
<style>
.mainFields, .columnFields {
    transition: width 1.0s ease, margin 1.0s ease;
}
</style>

<script>
function copyElementText(element) {
    var text = element.innerText;
    var elem = document.createElement("textarea");
    document.body.appendChild(elem);
    elem.value = text;
    elem.select();
    document.execCommand("copy");
    document.body.removeChild(elem);
}
</script>

<style>
.content-header {padding:0}
@media (max-width: 767px) {
    .logo {display:none}
}
</style>

<link rel="stylesheet" href="https://piedweb.com/cdn/easymde/easymde.min.css">
<script src="https://piedweb.com/cdn/easymde/easymde.min.js"></script>
<style>
    .editor-toolbar.fullscreen, .CodeMirror-fullscreen {
        z-index:100000000;
    }
    .editor-preview {
        background: #fff;
        overflow: hidden;
        padding: 0;
        z-index:1000;
    }
    .box-body {
        font-size: 16.8px;
    }
</style>
<script>
$(function() {
  var timeoutPreviewRender = null;
  $('textarea[data-editor="markdown"]').each(function () {
    var editor = new EasyMDE({
        element: $(this)[0],
        toolbar: [
            "bold",
            "italic",
            "heading-2",
            "heading-3",
            "|",
            "unordered-list",
            "ordered-list",
            "|",
            "link",
            "image",
            "quote",
            "code",
            "side-by-side",
            "fullscreen",
            {
                name: 'guide',
                action: '/admin/markdown-cheatsheet',
                className: 'fa fa-question-circle',
                noDisable: true,
                title: 'Documentation',
                default: true,
            }
        ],
        status: ["autosave", "lines", "words", "cursor"],
        spellChecker: false,
        nativeSpellcheck: true,
        insertTexts: {
            link: ["[", "]()"],
            image: ["![", "](/media/default/...)"],
        },
        //minHeight: "70vh",
        maxHeight: '70vh',
        syncSideBySidePreviewScroll: false,
        previewRender: function(plainText, preview) {

            if (!document.getElementById('previewf')) {
                customPreview(plainText, preview);
            }
            document.addEventListener('keyup', function (e) {
                clearTimeout(timeoutPreviewRender);
                timeoutPreviewRender = setTimeout(function () {
                    customPreview(plainText, preview)
                }, 1000);
            });
        },
        /**/
    });
      });
});

function customPreview(plainText, preview) {
  var scrollTop = document.getElementById('previewf') ? document.getElementById('previewf').contentWindow.window.scrollY : 0;
  var XHR = new XMLHttpRequest();
  var urlEncodedData = encodeURIComponent('plaintext') + '=' + encodeURIComponent(plainText).replace(/%20/g, '+');
  XHR.addEventListener('load', function(event) {
    if (!document.getElementById('previewf')) {
        preview.innerHTML = '<iframe width=100% height=100% id=previewf src="/admin/preview/{{ object.slug }}" frameborder="0" border="0" cellspacing="0"></iframe>';
        document.getElementById('previewf').srcdoc = XHR.response;
    } else {
         document.getElementById('previewf').srcdoc = XHR.response;
        document.getElementById('previewf').onload = function() {
            document.getElementById('previewf').contentWindow.scrollTo(0, scrollTop);
        }
    }
  });
  XHR.addEventListener('error', function(event) {
    preview.innerHTML = 'Oups! Quelque chose s\'est mal passé.';
  });
  XHR.open('POST', '/admin/preview/{{ object.slug }}');
  XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  XHR.send(urlEncodedData);
}
</script>
{% endblock %}



{% block sonata_page_content_header %}


    <div style="display:none">{{ parent() }}</div>

    <!-- spacer for save btns -->
    <div style="margin-top:40px">&nbsp;</div>
{% endblock %}

{% block sonata_tab_content %}
        {{ _self.render_groups(admin, form, admin.formtabs['default'].groups) }}
{% endblock %}
{% block sonata_pre_fieldsets %}
        <nav class="navbar navbar-default" style="
            position:fixed;
            padding: 15px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.05);
            border-bottom-left-radius:5px;
            top:45px;
            text-align:right;
            right:-5px;
            width:100%;
            z-index:809;
            background:#fff">
        {{ block('sonata_form_actions') }}
    </nav>
    {{ parent() }}
{% endblock %}
{% block formactions %}<!--{{ parent() }}-->{% endblock %}


{% macro render_groups(admin, form, groups) %}

    {% for code in groups %}
        {% if admin.formgroups[code] is defined %}
            {% set form_group = admin.formgroups[code] %}

            {% if 'columnFields' in form_group.class %}
                {% set columnFieldsOpen = columnFieldsOpen is not defined ? false : true %}
                {{ _self.render_group_in_column(admin, form, form_group, columnFieldsOpen, loop) }}
            {% else %}
                {{ _self.render_group(admin, form, form_group) }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_group(admin, form, form_group) %}
    <div class="{{ form_group.class|default('col-md-12') }}">
            <div class="{{ form_group.box_class }}" style="border-top:1px solid #3c8dbc;padding-top:10px">
                <div class="box-body">
                    <div class="sonata-ba-collapsed-fields">
                        {% if form_group.description %}
                            <p>{{ form_group.description|trans({}, form_group.translation_domain ?: admin.translationDomain) }}</p>
                        {% endif %}

                        {% for field_name in form_group.fields if form[field_name] is defined %}
                            {{ form_row(form[field_name])}}
                        {% else %}
                            <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
{% endmacro %}

{% macro render_group_in_column(admin, form, form_group, columnFieldOpen, loop) %}

    <style>
    @media (min-width: 992px) {
        #columnFields {
            padding-left:0px;margin-left:-5px
        }
    }
    </style>
    <script>
    $(document).ready(function(){
        var panels=localStorage.panels === undefined ? new Array() : JSON.parse(localStorage.panels);
        for (var i in panels){
            if ($("#"+panels[i]).hasClass('collapse'))
            {
                $("#"+panels[i]).collapse("show");
            }
        }
    });
    $(".collapse").on('shown.bs.collapse', function ()
    {
        var active = $(this).attr('id');
        var panels= localStorage.panels === undefined ? new Array() : JSON.parse(localStorage.panels);
        if ($.inArray(active,panels)==-1)
            panels.push(active);
        localStorage.panels=JSON.stringify(panels);
    });

    $(".collapse").on('hidden.bs.collapse', function ()
    {
        var active = $(this).attr('id');
        var panels= localStorage.panels === undefined ? new Array() : JSON.parse(localStorage.panels);
        var elementIndex=$.inArray(active,panels);
        if (elementIndex!==-1)
        {
            panels.splice(elementIndex,1);
        }
        localStorage.panels=JSON.stringify(panels);
    });
    </script>
    {% if columnFieldOpen == false %}
        <div class="{{ form_group.class|default('col-md-12') }}" id="columnFields">
    {% endif %}

        <div class="box {{ 'expand' in form_group.class ? 'expandColumnFields':''}}" style="margin:0;border:0">
            <div class="box-header" style="padding:0">
                <h4 style="margin:0">
                    <a style="display:block;padding:10px; background-color:#F5F5F5; border-top:1px solid #3c8dbc;
                        border-radius:5px;font-weight:bold"
                        class="box-title"
                        data-toggle="collapse"
                        data-parent="#columnFields"
                        href="#cf-{{ loop.index }}"
                        aria-expanded="{{ columnFieldOpen == false ? 'true' : 'false' }}"
                        aria-controls="cf-{{ loop.index }}"
                    >
                        {{ form_group.label|trans({}, form_group.translation_domain ?: admin.translationDomain) }}
                 </a>
                </h4>
            </div>
            <div class="box-body collapse {{ columnFieldOpen == false ? ' in' : '' }}" id="cf-{{ loop.index }}"
                role="tabpanel" style="border-top:1px solid #3c8dbc;margin-bottom:-5px;padding-bottom:10px;">
                <div class="sonata-ba-collapsed-fields">
                    {% if form_group.description %}
                        <p>{{ form_group.description|trans({}, form_group.translation_domain ?: admin.translationDomain) }}</p>
                    {% endif %}

                    {% for field_name in form_group.fields if form[field_name] is defined %}
                        <div style="margin-top:20px">
                        {{ form_row(form[field_name])}}</div>
                    {% else %}
                        <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% if loop.last %}</div>{% endif %}

{% endmacro %}