

    {% if page.parentPage is defined and page.parentPage is not null %}
            <hr style="margin-top:40px">
            <nav class=breadcrumb aria-label="breadcrumb">
                <ul>
                    {{ _self.breadcrumbPart(page.parentPage) }}
                    <li aria-current="page">{{ (page.name is not null ? page.name : page.title) }}</li>
                </ul>
            </nav>
            <hr>
            <style>
                .breadcrumb ul {
                    display: flex;
                    list-style: none;
                    font-size:0.9em;
                    padding-left: inherit;
                }
                    
                .breadcrumb li::before {
                    content: "→";
                    margin: 0 10px;
                }
                    
                .breadcrumb li:first-child::before {
                    content: "";
                }
            </style>
    {% endif %}

{% macro breadcrumbPart(page) %}
    {% if page.parentPage is not null %}
        {{ _self.breadcrumbPart(page.parentPage) }}
    {% endif %}
    <li>
        <a href="{{ (page.slug == 'homepage' ? homepage() : page(page.slug)) }}">{{ (page.name is not null ? page.name : page.title) }}</a>
    </li>
{% endmacro %}
