<section class="section-gap ajax-form" id="contact">
    <div class="container">

        <div class="row">

            <div class="col-lg-8">
                <span class="h2 d-block mb-10">{{ 'contact.title'|trans }}</span>
                <p class=mb-30>{{ 'contact.subtitle'|trans }}</p>

                {% include '@PiedWebCMS/page/_form_contact.html.twig' %}
            </div>
            <div class="col-lg-4 text-right">

                <div class="mb-30">
                    <span class="h2">{{ 'contact.label'|trans }}</span>
                </div>
                <small>{{ 'contact.email'|trans }}</small>
                <div id="contact-email" class="mb-20">{{ str_rot13(app_contact_email) }}</div>
                {% if app_contact_adress is defined %}
                <small>{{ 'contact.adress'|trans }}</small>
                <p>{{ app_contact_adress|raw }}</p>
                {% endif %}
            </div>
        </div>

    </div>
</section>
