
<footer id="footer"></footer>
{#
<footer class="footer-block section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 footer-text">
                <span class="d-block h6">Blog</span>
                {# Pas terrible pour les perf #}{#
                {{ render(controller('\\PiedWeb\\CMSBundle\\Controller\\PageController::showList', { render: '@PiedWebCMS/page/_list.html.twig'})) }}
            </div>
            <div class="col-lg-4 col-sm-6 footer-text">
                <h6>{{ 'footer.keepInTouch.title'|trans }}</h6>

                <p>{{ 'footer.keepInTouch.social'|trans }}</p>
                <div class="footer-social d-flex align-items-center mb-30">
                        <a href="#"><i class="fa fa-fcb"></i><span class="sr-only">facebook</span></a>
                        <a href="#"><i class="fa fa-twtr"></i><span class="sr-only">twitter</span></a>
                        <a href="#"><i class="fa fa-inst"></i><span class="sr-only">instagram</span></a>
                        <a href="#"><i class="fa fa-trpa"></i><span class="sr-only">trip advisor</span></a>
                </div>


                <div id="m_signup">

                        <form target="_blank" novalidate="true" method="get" class="form-inline footer-mail">

                        <label for="email" class="d-block">{{ 'footer.keepInTouch.byMail'|trans }}</label>
                        <div class="d-flex ">
                            <input class="form-control" name="email" placeholder="{{ 'footer.keepInTouch.email'|trans }}" onfocus="this.placeholder = ''" onblur="this.placeholder = '{{ 'footer.keepInTouch.email'|trans }} '" required="" type="email">


                                <button class="click-btn btn btn-default"><i class="fa fa-arrow-right" aria-hidden="true"></i><span class="sr-only">{{ 'footer.keepInTouch.register'|trans }}</span></button>
                        </div>
                        <div class="info"></div>
                        </form>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 footer-text">
                <h6>{{ 'footer.about.title'|trans }}</h6>
                    <ul>
                        <li><a href="#">{{ 'footer.about.myAccount'|trans }}</a></li>
                        <li><a href="#">{{ 'footer.about.whoAreWe'|trans }}</a></li>
                        <li><a href="#">{{ 'footer.about.contact'|trans }}</a></li>
                        <li><a href="#">{{ 'footer.about.privacy'|trans }}</a></li>
                    </ul>
            </div>

        </div>
    </div>
</footer>
#}
