{{ form_start(contact) }}
    <div class="row contact-form contact-form text-right">

    {% if contact.name is defined %}
        <div class="col-lg-6 form-group">
        {{ form_row(contact.name, {
            label_attr: {class: 'sr-only'},
            attr: {
                'placeholder': 'Nom',
                onfocus: "this.placeholder = ''",
                onblur: "this.placeholder = 'Nom'",
                class: "common-input mb-20 form-control",
                required: "text"
            }
        }) }}
        {{ form_errors(contact.name) }}
        </div>
    {% endif %}

    {% if contact.fr0m is defined %}
        <div class="col-lg-6 form-group">
        {{ form_row(contact.fr0m, {
            label_attr: {class: 'sr-only'},
            attr: {
                'placeholder': 'Email',
                onfocus: "this.placeholder = ''",
                onblur: "this.placeholder = 'Email'",
                class: "common-input mb-20 form-control",
                required: "text",
                pattenr: "[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$",
                type: "email"
            }
        }) }}
        {{ form_errors(contact.fr0m) }}
        </div>
    {% endif %}


    <div class="col-lg-12 form-group">
        {{ form_row(contact.message, {
        label_attr: {class: 'sr-only'},
        attr: {
            'placeholder': 'Message',
            onfocus: "this.placeholder = ''",
            onblur: "this.placeholder = 'Message'",
            class: "common-textarea mt-10 form-control"
        }
        }) }}
        {{ form_errors(contact.message) }}
    </div>

    <div class="alert-msg col-12"></div>
        {{ form_errors(contact) }}
    </div>

    <div class="col-lg-12 form-group">
        <button class="btn btn-primary letter-spacing mt-20">Envoyer</button>
    </div>
{{ form_end(contact) }}
