{#
    size             halfscreen|fullscreen
    title
    subtitle
    description
    image
    overlay
    button
        attr
            href
            ...
        label
    container_txt boolean
    banner_content_position     stick
#}

{% set title = page.h1 is defined and page.h1 is not null ? page.h1 : page.title %}
{% set subtitle = page.subtitle %}
{% set description = page.chapeau is not null ? include(template_from_string(page.chapeau)) : null %}
{% set image = page.mainImage is defined and page.mainImage is not null ? (page.mainImage.relativeDir ~ '/' ~ page.mainImage.media) : null %}
{% set image_alt = page.mainImage is defined and page.mainImage is not null ? page.mainImage.name : title %}
{% set color = page.mainImage is defined and page.mainImage is not null ? (page.mainImage.mainColor) : null %}

{% set overlay = page.bg_transition ?? overlay ?? '' %}
{% set size = page.headerSize ?? size ?? 'thirdscreen' %}
{% set container_txt = true %}
{% set multiple_bg = page.bg_multiple ? page.bg_multiple|split(';') : [] %}


{% if image is defined and image is not null %}
    <section class="hero-banner mb-3 next-navbar">

        <div class="cover-banner"
        {% if color is defined and color is not null %}style="background:{{ color }}"{% endif %}
            {% if image is defined and image is not null %}
                data-bg="{{ image| imagine_filter('default') }}"
                data-darken="{{ overlay is defined ? overlay : '' }}"
                data-pos="no-repeat center center"
                {% if multiple_bg is defined %}{% for bg in multiple_bg %}
                    {% set bg1 = bg|split(':') %}
                    data-bg_{{ bg1.0 }}="{{ bg1.1 }}"
                {% endfor %}{% endif %}
            {% endif %}
        >
            <div class="{{ size is defined ? size : 'halfscreen' }} container{{ container_txt is defined ? '-txt' : '' }} mt-4">
                    <div class="
                        banner-content pb-3 pt-3
                        {{ overlay is defined and overlay == 'inverse' ? 'pb-1' : 'pb-4' }}
                         {{ banner_content_position ?? ' stick-bottom'}}">

                        {% block subTitle %}
                            {% if subtitle is defined and subtitle is not null %}
                                <span class="subtitle">{{ subtitle|raw  }}</span>
                            {% endif %}
                        {% endblock %}

                        {% block title %}
                            {% if title is defined and title is not null %}
                                <h1>{{ title|raw }}</h1>
                            {% endif %}
                        {% endblock %}

                        {% block description %}
                            {% if description is defined and description is not null %}
                                {{ description|raw }}
                            {% endif %}
                        {% endblock %}

                        {% block header_button %}
                            {% if button is defined and button %}
                                    <a{{ mergeAttr({'class': 'btn btn-header-light'}, button.attr) }}>{{ button.label }}</a>
                            {% endif %}
                        {% endblock %}

                    </div>
                </div>

                {% block image_for_small_device %}
                    {% if image is defined and image is not null %}
                    <div class=d-md-none>
                        <img
                            srcset="{{ image| imagine_filter('xs') }} 576w, {{ image| imagine_filter('md') }} 992w"
                            src="{{ image| imagine_filter('default') }}"
                            alt="{{ image_alt|striptags }}" loading=lazy class=img-fluid>
                    </div>
                    {% endif %}
                {% endblock %}
            </div>

    </section>
{% else %}
    <div class="container container-txt pt-5 pb-3 next-navbar">
        {{ block('subTitle') }}
        {{ block('title') }}
        {{ block('description') }}
        {{ block('header_button') }}
    </div>
{% endif %}
