{#
    @params array   logo {href, alt},
    @params array   items {attr:{href...}, anchor, items: [...]}
    @params string menu_container
    @params string menu_position
#}

<header id="navbar">
    <nav class="navbar navbar-expand-lg bg-white w-100 {{ menu_position|default('position-absolute top-0') }}">
        <div class="{{ menu_container|default('container') }}">

            {% block logo %}
                {% if logo is defined %}
                    <a class="navbar-brand float-left" href="{% if logo.href is defined %}{{ logo.href }}{% else %}{{ homepage() }}{% endif %}">
                        {% if logo.alt is defined %}{{ logo.alt }}{% endif %}
                    </a>
                {% endif %}
            {% endblock %}

            {% if items is defined %}

            {% block toggle_button %}
                {% if (items is defined and items is not empty) %}
                    <label class="hamburger float-right" for=toggler>
                        <span>Menu</span>
                    </label>
                    <input type="checkbox" id="toggler">
                {% endif %}
            {% endblock %}

            {% block nav_list %}
                <div class="navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {% for item in items %}
                            <li class="nav-item">
                                {% if page.slug is defined and item.attr.href == page(page.realSlug) %}
                                    <span class="nav-link disabled">
                                {% else %}
                                    <a{{ mergeAttr((item.attr is defined ? item.attr : {}), {'class': 'nav-link'})}}>
                                {% endif %}
                                    {{ item.anchor|raw }}
                                {{ page.slug is defined and item.attr.href == page(page.realSlug) ? '</span>' : '</a>' }}
                                    {% if item.items is defined %}
                                    <ul class="nav-sub-item">
                                        {% for sub_item in item.items %}
                                            <li>
                                                 {% if page.slug is defined and sub_item.attr.href == page(page.realSlug) %}
                                                    <span class="nav-link disabled">
                                                {% else %}
                                                    <a{{ attr((sub_item.attr is defined ? sub_item.attr : {}), {'href':'#'})}}>
                                                {% endif %}
                                                    {{ sub_item.anchor|raw }}
                                                {{ page.slug is defined and sub_item.attr.href == page(page.realSlug) ? '</span>' : '</a>' }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endblock %}


            {% endif %}
        </div>
    </nav>
</header>
