{% if pages is not empty %}
    {% for page in pages %}
        <div class="col-lg-4 col-md-6">
            <div class="mcard clickable">
                <div class="card-header card-header-img">
                    <span class="card-img-top img-fluid rounded" data-img="{{ (img_dir.url ~ '/' ~ page.mainImage.image) |imagine_filter('thumb') }}">{{ page.title }}</span>
                    <div class="shadow-color" data-bg="{{ (img_dir.url ~ '/' ~ page.mainImage.image) |imagine_filter('thumb') }}"></div>
                </div>
                <div class="card-body">
                     {% if page.excreptProduct is not null %}<div class="card-text text-muted"><small>{{ page.excreptProduct }}</small></div>{% endif %}
                        <h3 class="h5 card-title">
                            <a href="{{ path('piedweb_cms_page', {'slug': page.realSlug }) }}">
                                {% if page.h1 is defined and page.h1 is not null %}
                                    {{ page.h1 }}
                                {% else %}
                                    {{ page.title }}
                                {% endif %}
                            </a>
                        </h3>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
