{% if page.issetProducts is defined and page.issetProducts %}
        <section class="reservation-block section-gap" id="reserve">
            <div class="container">
                <div class="mt-40 mb-40">
                    <div class="title text-center">
                        <span class="h2 pb-30">{{ 'reservation.title'|trans }}</span>
                    </div>
                </div>
                {% for product in page.products %}
                    <div class="row pb-10 pt-10 text-center">
                        {% if product.specifications is not null %}
                            <div class="col-12"><strong>{{ product.specifications }}</strong></div>
                        {% endif %}
                        <div class="col-6 col-md-3">{{ product.departureDate|date("d/m/Y at H:i") }}</div>
                        <div class="col-6 col-md-3">{{ product.time }} {{ product.timeUnit }}</div>
                        <div class="col-6 col-md-3 align-middle">{{ product.price }}€</div>
                        <div class="col-6 col-md-3">
                            <a href="{{ path('piedweb_reservation', {'id' : product.id}) }}" class="genric-btn primary circle letter-spacing">{{ 'header.reserve'|trans }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
{% endif %}
