{% extends '@PiedWebCMS/base.html.twig' %}

{# ----------- #}

{% block html_opener %}
	<html lang="{{ page.locale|default(app.request ? app.request.getLocale() : '') }}"{% if page.htmlOpenerAttr is not null %} {{ page.htmlOpenerAttr|raw }}{% endif %}>
{% endblock %}

{% block title %}
	{{ page.getTitle(true)|striptags }}
{% endblock %}

{% block robots %}
	{% if page.searchexcrept is defined and page.searchexcrept is not null %}
		<meta name="description" content="{{ page.searchexcrept|escape }}">
	{% endif %}

	{% if page.metaRobots is defined and page.metaRobots is not null %}
		<meta name="robots" content="{{ page.metaRobots }}">
	{% endif %}

	<link rel="canonical" href="{{ app_base_url|default('') }}{{ page(page.realSlug) }}"/>

	<script>document.head.insertAdjacentHTML('beforeend', '<style>.nojs{display:none}</style>');</script>
{% endblock %}


{% block alternate_language %}
	{% if page.locale is not null %}
		<link rel="alternate" hreflang="{{ page.locale }}" href="{{ app_base_url|default('') }}{{ page(page.realSlug) }}"/>
		{% for translation in page.translations %}
			<link rel="alternate" hreflang="{{ translation.locale }}" href="{{ app_base_url|default('') }}{{ page(translation.realSlug) }}"/>
		{% endfor %}
	{% endif %}
{% endblock %}


{% block open_graph %}
	<meta name="og:title" content="{{ page.getTitle(true)|striptags }}">
	<meta name="og:url" content="{{ app_base_url|default('') }}{{ page(page.realSlug) }}">
	{% if page.searchexcrept %}
		<meta name="og:description" content="{{ page.searchexcrept|striptags }}">
	{% endif %}
	{% if page.mainImage is defined and page.mainImage is not null %}
		<meta name="og:image" content="{{ app_base_url|default('') }}{{ (page.mainImage.fullPath)|imagine_filter('default') }}">
	{% endif %}
{% endblock %}

{% block feed %}
	{{ parent() }}
	{% if page.feeds is defined and page.feeds is not null %}
		{% for feed in page.feeds %}
			<link
				rel="alternate"
				type="{{ feed.type|default('application/rss+xml') }}"
				href="{{ app_base_url|default('') }}{{ feed.uri }}"
				title="{{ app_name|default('') }} &raquo; {{ feed.title }}"
			/>
		{% endfor %}
	{% endif %}
{% endblock %}


{% block body %}

	{% block content %}
		<div class="{{ container|default('container') }}">

			{% block h1 %}
				<h1>{{ page.content.title(true)|raw }}</h1>
			{% endblock %}

			{% block description %}
                {{ page.content.chapeau|raw }}
			{% endblock %}

			{% block main_image %}
				{% if page.mainImage is not null %}
					{%
						include '@PiedWebCMS/component/_inline_image.html.twig' with {
							'image_src': page.mainImage.fullPath|imagine_filter('default'),
							'image_alt': page.mainImage.name(page.locale, true)|default(page.getTitle(true)|striptags),
							'image_wrapper_class': ' ',
						}
					%}
				{% endif %}
			{% endblock %}


			{% block main_content %}
                {{ page.content.body|raw  }}
			{% endblock %}


		</div>
	{% endblock %}

	{% block breadcrumb %}
		{% include '@PiedWebCMS/page/_breadcrumb.html.twig' %}
	{% endblock %}

	{% block footer %}
		{% include '@PiedWebCMS/page/_footer.html.twig' %}
	{% endblock %}

	{% block navbar %}
		{% include '@PiedWebCMS/page/_menu.html.twig' %}
	{% endblock %}
{% endblock %}

{% block html_closer %}
	</html>
{% endblock %}
