{# image, embed, title, description #}
<section class="video-block" data-bg="{{ asset(image) }}" data-darken="linear">
    <div class="container">
        <div class="video-content">
            <span class="play-btn pointer" data-src="{{ embed }}"><i class="fa fa-play-circle-o"></i><span class="sr-only">{{ 'lecture'|trans }}</span></span>
            <div class="video-desc">
                <h3 class="video-title text-white text-uppercase">{{ title }}</h3>
                {% if description is defined %}<span class="video-info text-white">{{ description }}</span>{% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="video-modal">
      <div class="modal-dialog modal-dialog-video">
        <div class="modal-content">
          <div class="modal-body modal-body-video">
           <button type="button" class="close close-video" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
