{#
    title
    subtitle
    description
    image
    button
        attr
            href
            ...
        label
#}
<section class="hero-banner">
    <div class="relative" id="cover-banner"
        {% if image is defined and image is not null %}
            data-bg="{{ image| imagine_filter('default') }}"
            data-darken="center"
        {% endif %}>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
                <div class="col-md-10 col-12">
                    <div class="banner-content text-center">

                        {% block subTitle %}
                            {% if subtitle is defined and subtitle is not null %}
                                <span class="subtitle">{{ subtitle|raw  }}</span>
                            {% endif %}
                        {% endblock %}

                        {% if title is defined and title is not null %}
                            {% set titlel = title|length %}
                            <h1 class="{% if titlel > 20 %} long-h1{% endif %}">
                                {{ title|raw }}
                            </h1>
                        {% endif %}

                        {% block excrept %}
                            {% if description is defined and description is not null %}
                            <p>{{ description|raw }}</p>
                            {% endif %}
                        {% endblock %}

                        {% block header_button %}
                            {% if button is defined and button %}
                                    <a{{ mergeAttr({'class': 'btn btn-header-light'}, button.attr) }}>{{ button.label }}</a>
                            {% endif %}
                        {% endblock %}
                    </div>

                {% block fash_massage %}
                {% endblock %}


                </div>
            </div>
        </div>
    </div>
</section>
