{#
    size             halfscreen|fullscreen
    title
    subtitle
    description
    image
    overlay
    button
        attr
            href
            ...
        label
    container_txt boolean
#}
<section class="hero-banner">
    <div class="relative cover-banner"
        {% if image is defined and image is not null %}
            data-bg="{{ image| imagine_filter('default') }}"
            data-darken="{{ overlay is defined ? overlay : 'center' }}"
        {% endif %}>
        {{ container_txt is defined ? '<div class="container-txt">' : '<div class="container">' }}
            <div class="{{ size is defined ? size : 'halfscreen' }} position-relative">
                    <div class="banner-content pt-4 pb-1">

                        {% block subTitle %}
                            {% if subtitle is defined and subtitle is not null %}
                                <span class="subtitle">{{ subtitle|raw  }}</span>
                            {% endif %}
                        {% endblock %}

                        {% block title %}
                        {% if title is defined and title is not null %}
                            {% set titlel = title|length %}
                            <h1 class="{% if titlel > 20 %} long-h1{% endif %}">
                                {{ title|raw }}
                            </h1>
                            {% if image is defined and image is not null %}
                            <p class=sr-only><a href="{{ image| imagine_filter('default') }}"><img src="{{ image| imagine_filter('thumb') }}" alt="{{ title|striptags }}" loading=lazy></a></p>
                            {% endif %}
                        {% endif %}
                        {% endblock %}

                        {% block description %}
                            {% if description is defined and description is not null %}
                                {{ description|raw }}
                            {% endif %}
                        {% endblock %}

                        {% block header_button %}
                            {% if button is defined and button %}
                                    <a{{ mergeAttr({'class': 'btn btn-header-light'}, button.attr) }}>{{ button.label }}</a>
                            {% endif %}
                        {% endblock %}
                    </div>

                {% block fash_massage %}
                {% endblock %}


                </div>
        </div>
    </div>
</section>
