{#
    image_src
    image_alt
    rounded             boolean
    image_class
    gallery_class

        xs: #576px
        sm: #768px
        md: #992px
        lg: #1200px
        xl: #1200px+
#}

{% if image_src is defined %}
<p class="{{ gallery_class|default('mimg') }}">
    {% if isInternalImage(image_src) %}
        {% set image =  getImageFrom(image_src) %}
        {{ link(''
            ~'<picture>'
                ~'<source'
                    ~' srcset="'
                        ~ image.fullPathWebP|imagine_filter('xs') ~' 576w'
                        ~','~ image.fullPathWebP|imagine_filter('sm') ~' 768w'
                        ~','~ image.fullPathWebP|imagine_filter('md') ~' 992w'
                        ~','~ image.fullPathWebP|imagine_filter('lg') ~' 1200w'
                        ~','~ image.fullPathWebP|imagine_filter('xl') ~' 1600w'
                    ~'"'
                    ~' />'
                ~'<img'
                    ~' srcset="'
                        ~ image.fullPath|imagine_filter('xs') ~' 576w'
                        ~','~ image.fullPath|imagine_filter('sm') ~' 768w'
                        ~','~ image.fullPath|imagine_filter('md') ~' 992w'
                        ~','~ image.fullPath|imagine_filter('lg') ~' 1200w'
                        ~','~ image.fullPath|imagine_filter('xl') ~' 1600w'
                    ~'"'
                    ~' src="'~ image.fullPath|imagine_filter('default') ~'"'
                    ~' loading="lazy"'
                    ~' class="'~ (rounded is defined ? 'rounded':'') ~ (image_class is defined ? ' '~image_class : ' img-fluid') ~'"'
                    ~' width="10000" height="10000"'
                    ~' alt="' ~ image.name(page is defined ? page.locale : null) ~'">'
            ~'</picture>',
            image.fullPath|imagine_filter('default'),
            { 'dwl': image.fullPathWebP|imagine_filter('default') }) }}

    {% else %}
        <img
            src="{{ image_src }}"
            loading="lazy"
            class="{{ (rounded is defined ? 'rounded':'') ~ (image_class is defined ? ' '~image_class : ' img-fluid') }}"
            alt="{{ image_alt }}" />
    {% endif %}
    </p>
{% endif %}
