{#
    logo {href, alt},
    items {attr:{href...}, anchor, subitems: {...}}
#}
<header id="navbar">
    <nav class="fixed-top navbar navbar-expand-lg">
        <div class="container">

            {% if logo is defined %}
                <a class="navbar-brand" href="{% if logo.href is defined %}{{ logo.href }}{% else %}{{ homepage() }}{% endif %}">
                    {% if logo.alt is defined %}{{ logo.alt }}{% endif %}
                </a>
            {% endif %}

            {% if items is defined %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-white fa fa-list"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% for item in items %}
                        <li class="nav-item">
                            <a{{ attr((item.attr is defined ? item.attr : {}), {'href':'#', class: 'nav-link'})}}>{{ item.anchor }}</a>
                                {% if item.items is defined %}
                                <ul class="nav-sub-item">
                                    {% for sub_iteam in item.items %}
                                        <li><a{{ attr((sub_item.attr is defined ? sub_item.attr : {}), {'href':'#'})}}>{{ sub_item.anchor }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
</header>
