<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        {% block head %}
            <meta charset="UTF-8">

            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


            {% if app_favicon is defined and app_favicon is not null %}
                <link rel="shortcut icon" href="{{ app_favicon }}">
            {% endif %}


            {% if app_icon is defined and app_icon is not null %}
                <link rel="icon" href="{{ app_icon }}">
            {% endif %}

            {% if app_color is defined and app_color is not null %}
                <meta name="theme-color" content="{{ app_color }}"/>
            {% endif %}

            <title>{% block title %}Pied Web{% endblock %}</title>


            {% block css %}
                <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
            {% endblock %}

            {% block feed_link %}
                <link rel="alternate" type="application/rss+xml" href="/feed.xml" />
            {% endblock %}

            {% block robots %}{% endblock %}

        {% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}

        {% block script %}
            <script src="{{ asset('assets/app.js') }}"></script>
        {% endblock %}

    </body>
</html>
