<!DOCTYPE html>
{% block html_opener %}<html>{% endblock %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block favicon %}
            <link rel="shortcut icon" href="{{ app_base_url|default('') }}{{ asset('/favicon.ico') }}">
        {% endblock %}

        {% block app_color %}
            {% if app_color is defined and app_color is not null %}
                <meta name="theme-color" content="{{ app_color }}"/>
            {% endif %}
        {% endblock %}

        <title>{% block title %}Pied Web CMS !{% endblock %}</title>


        {% block css %}
            <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
        {% endblock %}

        {% block feed %}
            <link
                rel="alternate"
                type="application/rss+xml"
                href="{{ app_base_url|default('') }}/feed.xml"
                title="{{ app_name|default('') }} &raquo; {{ 'feed.alternate_title'|trans }}"
             />
        {% endblock %}

        {% block robots %}{% endblock %}
        {% block alternate_language %}{% endblock %}
        {% block open_graph %}{% endblock %}
    </head>
{% endblock %}

    <body{% if body_class is defined %} class="{{ body_class|default('') }}"{% endif %}>

        {% block body %}{% endblock %}

        {% block script %}
            <script src="{{ asset('assets/app.js') }}"></script>
        {% endblock %}

    </body>
</html>
