<!DOCTYPE html>
{% block html_opener %}<html>{% endblock %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block favicon %}
            <link rel="shortcut icon" href="{{ apps.get().baseUrl|default('') }}{{ asset('/favicon.ico') }}">
        {% endblock %}

        {% block app_color %}
            {% if app_color is defined and app_color is not null %}
                <meta name="theme-color" content="{{ app_color }}"/>
            {% endif %}
        {% endblock %}

        <title>{% block title %}Pied Web CMS !{% endblock %}</title>


        {% block css %}
            {% set stylesheets = apps.get().get('assets').stylesheets %}
            {% for stylesheet in stylesheets %}
                <link rel="stylesheet" href="{{ stylesheet }}">
            {% endfor %}
            <style>
            :root {
            --bg: #f6f6f6;
            --primary: #d97706;
            --primary-light: #F59E0B;
            }
            </style>
            {# <link rel="stylesheet" href="{{ asset('assets/app.css') }}"> #}

	        <script>document.head.insertAdjacentHTML('beforeend', '<style>.nojs{display:none}</style>');</script>
        {% endblock %}

        {% block feed %}
            <link
                rel="alternate"
                type="application/rss+xml"
                href="{{ apps.get().baseUrl|default('') }}/feed.xml"
                title="{{ apps.get().name|default('') }} &raquo; {{ 'feed.alternate_title'|trans }}"
             />
        {% endblock %}

        {% block robots %}{% endblock %}
        {% block alternate_language %}{% endblock %}
        {% block open_graph %}{% endblock %}
    </head>
{% endblock %}

    <body{% if body_class is defined %} class="{{ body_class|default('') }}"{% endif %}>

        {% block body %}{% endblock %}

        {% block script %}
            {% set javascripts = apps.get().get('assets').javascripts %}
            {% for javascript in javascripts %}
                <script src="{{ javascript }}"></script>
            {% endfor %}
            {# <script src="{{ asset('assets/app.js') }}"></script> #}
        {% endblock %}

    </body>
</html>
